<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkc-yCkqW2PA1EpM0NMMz02Wik8OFpfEY</string>
	<key>GCM_SENDER_ID</key>
	<string>287568145161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hill2play.BallCalculator</string>
	<key>PROJECT_ID</key>
	<string>hill-to-playstore</string>
	<key>STORAGE_BUCKET</key>
	<string>hill-to-playstore.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287568145161:ios:1d4fb38dcb8b857d2b41d8</string>
	<key>DATABASE_URL</key>
	<string>https://hill-to-playstore.firebaseio.com</string>
</dict>
</plist>